<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    
    <body>
        {{>header}}
        <img src="img/giphy.gif">
        {{>footer}}
    </body>


</html>