<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    
    <body>
        {{>header}}
        <h1>Awww... Don't cry. It is just 404 page</h1>
        <img src="img/giphy.gif">
        {{>footer}}
    </body>


</html>