<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    
    <body>
        {{>header}}
        <p>My name is Perman Atayev and I am a CS student at Bilkent university. It uses data from mapbox.com and darksky.net</p>
        <img src="img/22.JPG">
        {{>footer}}
    </body>


</html>