<!DOCTYPE html>

<html>
    <head>
        <title>Help</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    
    <body>
        {{>header}} 
        <p>Please contact <a href = "mailto: perman.atayev17@gmail.com" style="margin: 0">me</a> for any feedback</p>
        {{>footer}}
    </body>


</html>