<!DOCTYPE html>

<html>
    <head>
        <title>Help</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    
    <body>
        {{>header}} 
        <p>Please contact perman.atayev17@gmail.com for any help you need</p>
        {{>footer}}
    </body>


</html>