<!DOCTYPE html>

<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" href="/css/styles.css">        
    </head>
    
    <body>
        
        {{>header}} 

        <p>Use this website to get your weather</p>

        <form>
            <input type="text" placeholder="Location" autofocus>
                <button class="button" style="vertical-align:middle"><span>Search</span></button>
        </form>

        <div class="container">
            <p id="m1"></p>
            <p id="m2"></p>
        </div>

        {{>footer}}
        <script src="/js/app.js"></script>
    </body>


</html>