
body{
    margin: 0%;
    text-align: center;
    font-family: sans-serif;
}

h1{
    margin: 0%;
    padding: 15px;
    background-color: rgb(50, 3, 180);
    text-align: center;
    color: rgb(255, 168, 7);
}

img{
    width: 500px;
    height: auto;
}

#links{
    text-align: center;
}

a{
    margin: 20px;
}

div{
  padding: 15px;
}

a:link {
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  a:active {
    text-decoration: underline;
  }

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
  }

  input[type=text] {
    border: 2px solid #f4511e;
    width: 200px;
    height: 20px;
    border-radius: 4px;
  }

  .container{
    margin: 10px;
    /* border-style: solid; */
    /* border-width: 0.5px; */
    width: auto;
    /* border-color: blue; */
  }

  .button {
    display: inline-block;
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 12px;
    padding: 5px;
    width: 80px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }